<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static "css/movie.css"%}">
    <title></title>
  </head>
  <body>
    <div class="container"  align='center'>
      <div class="jumbotron">
  <h1 class="display-4">POST INFORMATION</h1>
  <p class="lead">up date movie information </p>

  <a class="btn btn-primary btn-lg" href="/Postview" role="button">postlist</a>
  <a class="btn btn-primary btn-lg" href="/Post_detail" role="button">addpost</a>
  </div>
  </div>





  </body>
</html>
